<div class="container">
    <div>        
        <br style="clear:both">
            <div class="form-group col-md-4 ">                                
                <label id="messageLabel" for="message">Message </label>
                <textarea class="form-control input-sm " type="textarea" id="message" placeholder="Message" maxlength="140" rows="5"></textarea>
                    <!-- <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span> -->                    
            </div>
        <br style="clear:both">
        <div class="form-group col-md-2">
        <button class="btn btn-success" id="btnSubmit" > Create Story</button>    
    </div>
</div>